#lessup
{
background-color : #E2C499;	
}
#lessup.pro1
{
position: relative;
left: 180%;
top: 5%;
}
div#conteneur1{
width: 0px;
height: 36px;
position: relative;
top: 0%;
left: 0%;	
}
div#conteneur2{
width: 0px;
height: 0px;
position: absolute;
top: 9.8%;
left: 15%;	
}
div#conteneur3{
width: 0px;
height: 0px;
position: absolute;
top: 9.8%;
left: 30%;	
}
body
{
font-size: 20px;
text-shadow: 2px 2px 4px #E2C499;
font-family: 'cac_champagneregular', Arial, serif;
font-family: 'cac_champagneregular', Arial, serif;
}